services:
  mlflowapp:
    image: ejahdilan/mlflowapp:v8
    ports:
      - "5000:5000"
    volumes:
      - /Users/ammi/mlflow_data:/mlflow_data
      - /Users/ammi/mlruns:/mlruns
    environment:
      MLFLOW_ALLOWED_HOSTS: "*"
    restart: unless-stopped


  oauthapp-mflow:
    image: ejahdilan/oauthapp-mlflow:v1
    container_name: oauthapp-mflow
    restart: always
    depends_on:
      mlflow:
        condition: service_healthy
    ports:
      - "4180:4180"
    volumes:
      - /etc/oauth2_proxy.cfg:/etc/oauth2_proxy.cfg:ro


