services:
  
  mlflow:
    image: ghcr.io/mlflow/mlflow:latest
    hostname: mlflow       
    command:
      - sh
      - -c
      - |
        export AZURE_STORAGE_CONNECTION_STRING=DefaultEndpointsProtocol=https;AccountName=$(cat /run/secrets/azure_storage_account_name);AccountKey=$(cat /run/secrets/azure_storage_account_key);EndpointSuffix=core.windows.net
        export AZURE_STORAGE_ACCOUNT_NAME=$(cat /run/secrets/azure_storage_account_name)
        export AZURE_STORAGE_ACCOUNT_KEY=$(cat /run/secrets/azure_storage_account_key)
        export MLFLOW_AZURE_STORAGE_USE_CONNECTION_STRING=1
      
        
        mlflow server \
          --backend-store-uri sqlite:////mlflow_data/mlflow.db \
          --default-artifact-root "wasbs://mlflow@$(cat /run/secrets/azure_storage_account_name).blob.core.windows.net" \
          --artifacts-destination "wasbs://mlflow@$(cat /run/secrets/azure_storage_account_name).blob.core.windows.net" \
          --serve-artifacts \
          --host 0.0.0.0 \
          --port 5000 \
          --allowed-hosts '*'
    environment:
      AZURE_STORAGE_CONNECTION_STRING: ${AZURE_STORAGE_CONNECTION_STRING}
      AZURE_STORAGE_ACCOUNT_NAME: ${AZURE_STORAGE_ACCOUNT_NAME}
      AZURE_STORAGE_ACCOUNT_KEY: ${AZURE_STORAGE_ACCOUNT_KEY}
      MLFLOW_AZURE_STORAGE_USE_CONNECTION_STRING: "1"    
    ports:
      - "5000:5000"    
    volumes:
      - ./mlruns:/mlruns
      - ./mlflow_data:/mlflow_data 
    secrets:
      - azure_storage_connection_string
      - azure_storage_container_name
      - azure_storage_account_name
      - azure_storage_account_key
      - host_data_path
    networks:
      - mlflow-net
   
      
  model-trainer:
    build: .
    environment:
      - REGISTRY_URI=http://mlflow:5000      
      - MLFLOW_AZURE_STORAGE_USE_CONNECTION_STRING=1
      
      
      
      
      
    volumes:
      
      - ./data:/app/data
      - ./.dvc:/app/.dvc
  
          
    networks:
      - pipeline-network  
      - mlflow-net    
    depends_on:
      - mlflow
        
    secrets:
      - azure_storage_connection_string
      - azure_storage_account_name
      - azure_storage_container_name
      - azure_storage_account_key
      - azure_dvc_container
      - host_data_path   
      - git_user_name
      - git_user_email
      - git_repo_url      
      - git_branch
      - git_remote
      - raw_data_source

networks:
  mlflow-net:
    driver: bridge
  pipeline-network:
    driver: bridge  

volumes:
  mlflow_data:
  mlruns:

secrets:
  azure_storage_connection_string:
    file: ./secrets/azure_storage_connection_string.txt
  azure_storage_account_name:
    file: ./secrets/azure_storage_account_name.txt
  azure_storage_container_name:
    file: ./secrets/azure_storage_container_name.txt
  azure_storage_account_key:
    file: ./secrets/azure_storage_account_key.txt
  host_data_path:
    file: ./secrets/host_data_path.txt
  git_branch:
    file: ./secrets/git_branch.txt
  git_repo_url:
    file: ./secrets/git_repo_url.txt
  git_user_name:
    file: ./secrets/git_user_name.txt
  git_user_email:
    file: ./secrets/git_user_email.txt
  git_remote:
    file: ./secrets/git_remote.txt
  azure_dvc_container:  
    file: ./secrets/azure_dvc_container.txt
  raw_data_source: 
    file: ./secrets/raw_data_source.txt